* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Sans-Serif;
}

body {
  max-width: 600px;
  overflow-x: hidden;
  background-color: #2d3438;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 6vh;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: #1c1d1f;
  color: #1fc25b;
  font-size: 18px;
  
}

.msg-input {
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 6vh;
  min-height: 50px;
}

.msg-input #inputMsg {
  border-radius: 25px;
  flex: 0.95;
  height: 100%;
  font-size: 16px;
  background-color: #1c1d1f;
  color: #1fc25b;
}

.msg-input button {
  border-radius: 50%;
  width: 6vh;
  height: 6vh;
  min-width: 50px;
  min-height: 50px;
  background-color: #1c1d1f;
  color: #1fc25b;
}

.msg-input button:active {
  color: grey;
}

#inputMsg {
  padding: 5px;
}

.main {
 /* border: 3px solid blue; */
  overflow-y: auto;
  width: 100vw;
  height: auto;
  max-height: 80vh;
  position: fixed;
  top: 6vh;
  left: 0;
}

.msgRemote, .msgLocal {
  max-width: 90%;
  display: inline-block;
  background-color: #1c1d1f;
  color: #1fc25b;
  padding: 14px;
  margin: 5px;
}

.msgRemote {
  border-radius: 5px 20px 20px 20px;
}

.msgLocal {
  border-radius: 20px 5px 20px 20px;
}

.wrap {
  display: flex;
  justify-content: flex-end;
}